<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">TechCrunch Scraper</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><button class="btn btn-primary scrape">Scrape TechCrunch</button></li>
      <li><button class="btn btn-primary toSaved">Saved Articles</button></li>
    </ul>
  </div>
</nav>

<div class="articles">
  {{#each_upto articles 10}}
  {{#unless saved}}
  <div class="article">
    <a href="{{link}}">
      <h2>{{title}}</h2>
    </a>
    <p>{{summary}}</p>
    <button class="btn btn-primary saveBtn" data-id="{{_id}}">Save</button>
    <br>
  </div>
  {{/unless}}
  {{/each_upto}}
</div>
